.contact{
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    width: 40vw;
    height: auto;
    padding: 2rem;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact .row{
    margin: 0;
    /* border: 1px solid rgb(234, 0, 255); */
    display: flex;
    height: 45%;
    width: 80%;
}

.contact-item{
    /* border: 1px solid yellow; */
    height: 100%;
    width: 50% !important;
    display: flex;
    justify-content: center;
}

.contact-item a{
    margin: 20px;
}

.contact-item:nth-child(2){
    /* border: 1px solid green; */
    height: 100%;
    width: 50% !important;
}

.contact-item img{
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.contact-item img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

@media screen and (max-width: 1180px) {
    body{
        height: 100svh;
    }
    .contact{
        width: 90vw;
    }
    .contact .row{
        width: 100%;
    }
    .contact-item img{
        min-height: 40px;
        min-width: 40px;
        height: auto;
        width: 100%;
        border-radius: 15px;
    }
}