body{
    overflow-x: hidden;
}
.documentations{
    /* border: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    color: rgb(202, 202, 202);
}

.doc{
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    padding: 10px;
    margin-top: 2%;
}

.doc  button{
    font-size: 30px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 20px;
    width: 50px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(5deg, rgb(67, 4, 83), violet);
    transition: color 0.4s linear;
}

.doc  button:hover{
    color: #f20089;
}

.masquer{
    display:none;
}

.masquer a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.masquer a:hover{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(5deg, violet, #f20089);
    transition: color 0.4s linear;
    transform: scale(1.1);
}