body{
    overflow-x: hidden;
}
.realisations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
}

.contenue{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.avertissement{
    width: 60%;
    height: auto;
    margin: 2rem auto !important;
    margin-top: 2rem;
}

/* .card-realisation .card-img-top{
    height: 200px;
    outline: 1px solid #000;
    object-fit: fill;
} */

@media screen and (max-width: 1180px) {
    .container{
        overflow-y: scroll;
        height: fit-content;
        display: block;
        position: relative;
        padding-top: 5rem; /* Pour éviter d'avoir la dernière card coupé */
    }
}